# DeepSeek 平台
DEEPSEEK_API_KEY=你的 deepseek api key

# 硅基流动平台
SILICONFLOW_API_KEY=你的硅基流动 api key
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1
DEEPSEEK_MODEL_NAME=deepseek-ai/DeepSeek-V4-Flash
QWEN_MODEL_NAME=Qwen/Qwen3.5-397B-A17B
KIMI_MODEL_NAME=Pro/moonshotai/Kimi-K2.6

# Web 搜索引擎
TAVILY_API_KEY=你的 tavily api key

# LangSmith 平台
LANGSMITH_API_KEY=你的 langsmith api key
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=你的项目名称

# OSS 对象存储
OSS_ACCESS_KEY_ID=你的 oss access key id
OSS_ACCESS_KEY_SECRET=你的 oss access key secret
OSS_BUCKET=你的 oss bucket 名称
